<p>
  <strong>Name</strong><br>
  <%= @menu.name %>
</p>

<p>
  Sort Price By: <%= link_to "Low to High", "?order_by=desc"%> <%= link_to "High to Low", "?order_by=asc"%>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <%= render @menu_items %>
</table>

<p>
  <%= link_to 'Search Menu Items by Name', search_menu_menu_items_path(@menu) %>
</p>

<p>
  <%= link_to 'Add an Item to the Menu', new_menu_menu_item_path(@menu) %>
</p>

<p>
  <%= link_to 'Back to Menus', restaurant_menus_path(@menu.restaurant) %>
</p>
