<p>
  <strong>Name</strong><br>
  <%= @menu.name %>
</p>

<p>
  Sort Price By: <%= link_to "High to Low", "?order_by=desc"%> <%= link_to "Low to High", "?order_by=asc"%>
</p>

<!-- <table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </tr>

  <%= render @menu_items %>
</table> -->

<div id="content"></div>

<p>
  <%= link_to 'Search Menu Items by Name', search_menu_menu_items_path(@menu) %>
</p>

<p>
  <%= link_to 'Back to Menus', restaurant_menus_path(@menu.restaurant) %>
</p>

<script type="text/babel">

var data = {
  menuItems: [
    { name: 'Hamachi', description: 'Yellow Tail', price: '8.99' }
  ]
}

class MenuItem extends React.Component {
  render() {
    return (
      <div className="menu-item">
        <h2 className="menu-item-name">
          {this.props.name}
        </h2>
        {this.props.children}
      </div>
    );
  }
};

class MenuItemList extends React.Component {
  render() {
    var menuItemNodes = this.props.data.menuItems.map(function(menuItem) {
      return (
        <MenuItem name={menuItem.name}
                  description={menuItem.description}
                  price={menuItem.price}>
          {menuItem.name}
        </MenuItem>
      );
    });
    return (
      <div className="menu-item-list">
        {menuItemNodes}
      </div>
    );
  }
};

class MenuItemForm extends React.Component {
  render() {
    return (
      <div className="menu-item-form">
        Menu Item Form
      </div>
    );
  }
};

class MenuItemBox extends React.Component {
  constructor(props) {
    super(props);

    this.state = { data: { menuItems: [] } };
  }

  render() {
    return (
      <div className="menu-item-box">
        Menu Items
        <MenuItemList data={this.props.data} />
        <MenuItemForm />
      </div>
    );
  }
};

// $.ajax('/menus/<%= @menu.id %>/menu_items.json', {
//   method: 'GET'
// })
// .done(function(users) {
//   console.log(users);
// })
// .fail(function(err) {
//   console.log('error');
// })
// .always(function() {
//   console.log('complete');;
// });

ReactDOM.render(
  <MenuItemBox url="http://localhost:3000/menus/3" />,
  document.getElementById('content')
);
</script>
