<tr>
  <td><%= menu_item.name %></td>
  <td><%= menu_item.description %></td>
  <td><%= menu_item.price %></td>
  <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
  <td><%= link_to 'Delete', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
