<h1>Select a Restaurant</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @restaurant.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= link_to 'Show', restaurant_path(item) %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(item) %></td>
      <td><%= link_to 'Delete', restaurant_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Add a Restaurant to the List', new_restaurant_path() %>
</p>
