<h1>Select a Restaurant</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= link_to 'Show', restaurant_menus_path(restaurant) %></td>
      <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Delete', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Add a Restaurant to the List', new_restaurant_path() %>
</p>

<script>
$.ajax('restaurants.json', {
  method: 'GET'
})
.done(function(users) {
  console.log(users);
})
.fail(function(err) {
  console.log('error');
})
.always(function() {
  console.log('complete');;
});
</script>
